body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa;
}

a {
  color: #000;
  text-decoration: none;
}

.activeNavLink {
  background: rgba(0, 0, 0, 0.08) !important;
}

.header-sticky {
  top: 56px !important;
}

.rct-sidebar-header {
  padding: 20px;
}

.rct-label-group, .rct-sidebar-header, .rct-label.rct-label-only, .rct-item.selected  {
  background: #000 !important;
}

.rct-item, .rct-item.selected {
  border: none !important;
}

.rct-vl.rct-day-0, .rct-vl.rct-day-6 {
  background: rgba(0, 0, 0, .2) !important;
}
